body{
  overflow-x:hidden;
}

.header-section{
  background-color: #FB5B48;
  height: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes flowbanner {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.banner-text{
  white-space: nowrap;
  overflow: hidden;
  animation: flowbanner 20s linear infinite;
  text-align: center;
  padding-top: 5px;
}

.banner-text p{
  margin: 0px;
  display: inline-block;
}

.banner-text a{
  color: black;
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 600;
}

.banner-text a:hover{
  color: #666666;
}

.nav-section{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.logo-img{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-button{
  margin: 1rem;
  display: flex;
  align-items: center;
}

.menu-list-section{
  display: flex;
  align-items: center;
}

.menu-list{
  display: flex;
  list-style: none;
  margin: 0;
}

li{
  font-weight: bold;
}

li:hover{
  color: #2c5dab;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-list li{
  padding: 1rem;
}

.side-menubar{
  display: none;
}

.side-menus{
  list-style: none;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0px;
  background-color: lightcoral;
  color: white;
  font-size: 20px;
  z-index: 800;
}

.side-menu-list{
  position: relative;
  top: 40px;
  margin: 10px 0px;
}

.iconX{
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: -50px;
  left: 210px;
}

.iconX:hover{
  color: #666666;
}

.iconbar{
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.menu-item{
  padding: 0.5rem;
  font-size: 20px;
}

.menu-item:hover{
  cursor: pointer;
}

.search-section{
  display: flex;
  justify-content: center;
}

.search-area{
  display: flex;
  justify-content: center;
  max-width: 800px;
  position: relative;
}

#search-input{
  width: 50rem;
  height: 40px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 28px;
  padding: 3px 50px;
  margin-bottom: 20px;
  font-size: 20px;
}

.input-icon{
  height: 20px;
  left: 20px;
  top: 10px;
  position: absolute;
}

/* productCard */
.item-limitation{
  color: #0055cc;
  text-align: center;
  margin-bottom: 1rem;
}

.inner-card{
  text-align: center;
  margin: 1rem;
}

.inner-card:hover{
  scale: 1.15;
  transition: 0.3s;
}

.inner-card img{
  margin-bottom: 2rem;
}

.inner-card div{
  font-weight: bold;
}

.soldout{
  color: #666a73;
}

/* Login */
div a{
  text-decoration: none;
}

.logout{
  color: #f05650;
}

.login-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title{
  font-size: 27px;
  font-weight: bold;
  margin: 20px 0px;  
}

.id-section{
  position: relative;
}

.login-id{
  width: 365px;
  height: 45px;
  padding: 15px;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.login-placeholder{
  position: absolute;
  color: #8c8c8c;
  font-size: 15px;
  top: 12px;
  left: 15px;
  transition: .15s all;
  cursor: text;
  z-index: 200;
  background-color: white;
  padding: 0px 3px;
}

.login-id:focus + .login-placeholder{
  top: -9px;
  left: 15px;
  font-size: 13px;
  color: #8c8c8c;
}

.login-button{
  width: 360px;
  height: 44px;
  border-radius: 50px;
  background-color: #bec2cc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0px;
}

.login-sub{
  margin: 10px 0px;
}

.login-sub a{
  color: black;
  font-weight: bold;
}

.sns-section{
  position: relative;
  margin: 15px 0px;
}

.login-sns{
  color: #666666;
}

.login-sns::before, .login-sns::after{
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 1px solid;
  right: 160px;
  top: 11px;
  color: #d9d9d9;
}

.login-sns::after{
  left: 160px;
}

.sns-button{
  width: 360px;
  height: 44px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  position: relative;
}

.sns-item{
  color: black;
  font-weight: bold;
}

.sns-logo{
  width: 24px;
  position: absolute;
  left: 30px;
}

/* detail-page */

.detail-section{
  display: flex;
  justify-content: center;
}

.detail-img{
  width: 810px;
  height: 800px;
  overflow: hidden; 
  position: relative;
  display: flex;
  justify-content: center;
}

.detail-img img{
  width: 400px;
  position: absolute;
}

.detail-info{
  text-align: center;
}

.p-info{
  display: flex;
}

.shipping-style{
  width: 70px;
  height: 20px;
  color: #f15b41;
  border: 1px solid #f15b41;
  font-size: 12px;
  border-radius: 50px;
  padding: 0px 3px;
  margin-left: 1rem;
}

.detail-message{
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  background-color: #ecf0f8;
  color: #2c5dab;
  padding: 12px 5px;
  margin: 20px 0px;
}

.cart-button{
  width: 100%;
  height: 56px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px;
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: 1px solid;
}

.cart-button:hover{
  background-color: white;
  color: black;
}

.shipping-detail{
  margin: 20px 0px;
  font-weight: bold;
}

.pay-section{
  position: relative;
  margin: 15px 0px;
}

.detail-pay{
  color: #666666;
  font-size: 12px;
}

.detail-pay::before, .detail-pay::after{
  content: "";
  width: 130px;
  position: absolute;
  border-bottom: 1px solid;
  right: 0px;
  top: 12px;
  color: #d9d9d9;
}

.detail-pay::after{
  left: 0px;
}

.pay-img{
  display: flex;
  justify-content: space-around;
}

.pay-img img{
  border: 1px solid #f0f0f0;
}

.video-section{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.video-section video{
  height: auto;
}

@media screen and (max-width:1280px) {
  @keyframes flowbanner {
    0%{
      transform: translateX(50%);
    }
    100%{
      transform: translateX(-50%);
    }
  }
  .detail-img{
    height: 400px;
    margin-bottom: 3rem;
  }
  .detail-pay::before, .detail-pay::after{
    width: 100px;
  }

  .video-section video{
    width: 945px;
  }
}

@media screen and (max-width:993px) {
  .nav-section{
    justify-content: space-between;
  }

  .side-menubar{
    display: block;
    position: relative;
  }

  .side-icon{
    font-size: 30px;
  }

  .menu-list-section{
    display: none;
  }

  .search-area{
    left: 10rem;
    max-width: 500px;
    position: relative;
  }
}